@import url('https://fonts.googleapis.com/css?family=Montserrat:300,600');

/* body{
  background:#d1dce7;
  font-family:"Montserrat", sans-serif;
  font-weight:300;
  line-height:1.5em;
  padding:15px;
  text-align:center;
} */
h1{
  margin-bottom:5px;
}
.subheading{
  font-size:.9em;
  margin-top:0;
  text-transform:uppercase;
}

dl{
  margin:30px auto 60px;
  max-width:700px;
}

dt{
  background:#F2E1D9;
  border-left:8px solid #FD8F5F;
  color:#000000;
  font-weight:600;
  padding:15px;
  position:relative;
  text-align:left;
  text-transform:uppercase;
  transition: all .5s;
}

dt:after,dt:before{
  content:"\f078";
  font-family:fontAwesome;
  position:absolute;
  right:15px;
  height:28px;
  top:0;
  bottom:0;
  margin:auto;
  
  transition:all .7s ease-in-out;
}

dt:before{
  opacity:0;
  transition:all .4s ease-in-out;
}

dt:hover{
  cursor:pointer;
}

dt + dd{
  max-height:0;
}

dd{
  background:#eeb18a;
  color:#edeff3;
  margin:0;
  overflow:hidden;
  padding:1px 15px;
  
  transition: all .5s;
}

dt.open{
  background:#FD8F5F;
  border-color:#F2E1D9;
  color:#edeff3;
  margin:-5px;
}

dt.open:after{
  transform:rotate(180deg) translateY(-2px);
}
dt.open:before{
  opacity:1;
  transform:rotate(-360deg) translateY(-3px);
}

dt.open + dd{
  padding:15px 15px 30px;
  margin:0 -5px;
  max-height:200px;
}